// Import global variables from a relative path
@import '../../styles/variables';

.component-card {
    background-color: $surface-color; // Using surface color (light mode)
    border: 1px solid $border-color; // Using border color
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); // Adding specified box shadow
    padding: 16px;
    margin-bottom: 16px;

    .card-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 8px;
    }

    .card-container {
        // Optional: Add styles for the content container
    }
}

// Dark Mode Styles
body.dark-mode {
    .component-card {
        background-color: $surface-color-dark; // Using surface color for dark mode
        border-color: $border-color-dark; // Using border color for dark mode

        .card-title {
            color: $text-color-dark; // Using text color for dark mode
        }
    }
}