/* table.css */
.component-table {
    display: grid;
    gap: 1rem;
    max-width: 100%;
    overflow-x: auto;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    /* Adjust font size as needed */
}

.data-table th,
.data-table td {
    padding: 6px 10px;
    /* Adjust padding for cells */
    border: 1px solid #ccc;
    text-align: center;
}

.data-table th {
    background-color: #f0f0f0;
    /* Optional: Header background color */
}